button {
  cursor: pointer;
  height: 35px;
  width: 110px;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
}

.buttonFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0;
}
