h3 {
  margin-bottom: 3px;
  margin-top: 0px;
}

p {
  margin-bottom: 0px;
  margin-top: 1px;
}

.name {
  color: rgb(92, 92, 92);
  font-family: Arial, Helvetica, sans-serif;
}

.number {
  color: rgb(37, 80, 154);
}

.tile {
  border: 1px solid rgba(0, 0, 0, 0.423);
  border-radius: 5px;
  box-shadow: 3px 3px 5px #dbdbdb80;
  padding: 15px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 5px;
}

.voteOptionsList {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  list-style-type: none;
}

.voteOptionsList li {
  cursor: pointer;

  &:hover {
    color: green;
  }
}
